*{
	margin: 0px;
	padding: 0px;
}
.nav{
	width: auto;
	height: 30px;
}
.nav ul li{
	text-align: center;
	line-height: 30px;
	width: 80px;
	float: left;
	background-color: #E3E3E3;
	margin-right: 2px;
}
.nav ul{
	border-bottom: 8px solid #000000;
	overflow: auto;
	list-style: none;
}
.nav ul li a{
	text-decoration: none;
	color: #000000;
}
.nav ul li span{
	display: none;
}
.nav ul li a:hover span{
	display: block;
	margin-top: -30px;
	color: #FFFFFF;
	background-color: #000000;
}