*{
	margin:0px;
	padding: 0px;
}
#nav{
	background-color: #D8D8D8;
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
ul{
	list-style: none;
	position: relative;
}
ul li{
	float: left;
	line-height: 40px;
	text-align: center;
}
ul li a{
	text-decoration: none;
	color: #000000;
	display: block;
	padding: 0 80px;
}
ul li a:hover{
	color: #FFFFFF;
	background-color: #4B4B4B;
}
ul li ul li{
	float: none;
	margin-top: 2px;
	background-color: #D8D8D8;
}
ul li ul{
		position: absolute;
		display: none;
}
ul li:hover ul{
	display: block;
}