*{
	margin: 0px;
	padding: 0px;
	font-family: 微软雅黑;
}
body{
	min-width: 1280px;
}
header{
	padding: 10px 60px 20px 60px;
	height: 25px;
	background-color: #FFFFFF;
}
.logo{
	float: left;
	font-size: 25px;
}
.logo img{
	vertical-align: middle;
}
.login{
	float: right;
}
.login img{
	vertical-align: middle;
}
.login a{
	text-decoration: none;
	color: #e74f4d;
}

nav ul li{
	list-style-type: none;
	float: right;
	width: 100px;
	text-align: center;
}
nav ul li a{
	color: #787b83;
	text-decoration: none;
	display: block;
	height: 40px;
}
nav ul li a:hover{
	color: #e74f4d;
	border-bottom: 5px solid #e74f4d;
	font-weight: bold;
}
.part_1{
	height: 690px;
	background: url(img/firstPart.jpg) no-repeat;
	background-size: cover;
}
.part_1 h1,p{
	color: #FFFFFF;
}
.part_1 h1{
	font-size: 60px;
	font-weight: 100;
	position: absolute;
	top: 300px;
	left: 115px;
}
.part_1 p{
	font-size: 25px;
	position: absolute;
	top: 400px;
	left: 120px;
}
.part_1 .btn{
	width: 290px;
	height: 70px;
	background-color: #F76868;
	color: #FFFFFF;
	border: none;
	font-size: 35px;
	position: absolute;
	top: 530px;
	left: 120px;
}
.part_1 .btn:hover{
	background-color: #FFFFFF;
	color: #F76868;
	border: none;
}
.part_2{
	height: 250px;
}
.icon{
	width: 330px;
	height: 125px;
	display: inline-block;
	text-align: center;
	line-height: 125px;

}
.icon img{
	vertical-align: middle;
}
.icon_text{
	width: 328px;
	height: 60px;
	display: inline-block;
	text-align: center;
	border-right: 2px #808080 solid;
}
.icon_text p{
	color: #808080;
	cursor: pointer;
	transition: all .4s ease-in;
	-webkit-transition: all .2s ease-in;

}
.icon_text p:hover{
	color: #e74f4d;
}
.part_3{
	height:365px;
	background-color:#ededec;
	position: relative;
}
.part_3 .box{
	position: absolute;
	top: 60px;
	left: 215px;
}
.part_3 .box img{
	margin: 20px;
	padding-left: 400px;
}
.part_3 .box p{
	font-size: 60px;
	color: #a1a1a1;
	letter-spacing: 5px;
}
.part_4{
	height: 345px;
	background: url(img/bgimage-1.jpg) no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}
.part_4 .box1 .p1{
	position: relative;
	top: 55px;
	font-size: 23px;
}
.part_4 .box1 div{
	position: absolute;
	width: 33px;
	height: 3px;
	top: 95px;
	background-color:#FFFFFF;
	left: 650px;
}
.part_4 .box1 .p2{
	position: relative;
	top: 86px;
	font-size: 12px;
}
.part_4 select{
	width: 235px;
	height: 40px;
	color: #b5b7b7;
	margin-top: 140px;
	margin-left: 40px;
}
.part_4 input{
	width: 235px;
	height: 40px;
	margin-left: 40px;
	background-color: #be4e48;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 20px;
	border: none;
}
.part_4 input:hover{
	background-color:#FFFFFF;
	color:#be4e48;
}
.part_5{
	height: 550px;
	background-color:#F6F6F6;
	position: relative;
}
.part_5 .main_box{
	height: 400px;
	width: 988px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -494px;
}
.part_5 .main_box .box{
	margin-right: 25px;
	display: inline-block;
}
.part_5 .main_box .box .p1{
	color: #000000;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.part_5 .main_box .box .p2{
	color: #A7A7A7;
	font-size: 10px;
	text-align: center;
}
.part_5 .main_box .box .p3{
	color: #000000;
	font-size: 20px;
	letter-spacing: 30px;
	font-weight: bold;
	margin-left: 10px;
}
.part_5 .main_box .box img{
	border: 1px solid #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px 5px;
}
.part_6{
	height: 564px;
}
.part_6 .left{
	width: 66.6%;
	height: 564px;
	background: url(img/sixPart-pic.jpg) no-repeat;
	background-size: cover;
	display: inline-block;
	position: relative;
}
.part_6 .left .title{
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translate(-50%,0);
	text-align: center;
}
.part_6 .left .title .p1{
	font-size: 60px;
}
.part_6 .left .title .p2{
	font-size: 150px;
}
.part_6 .left .title p{
	font-size: 25px;
}
.part_6 .l-triangle{
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-right: 30px solid #FFFFFF;
	position: absolute;
	right: 0;
	top:50%;
	margin-top: -18px;
}
.part_6 .right{
	width: 33.3%;
	height: 564px;
	float: right;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.part_6 .right .jieshao{
	width: 290px;
	height: 305px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -104px 0 0 -145px;
}
.part_6 .right .p1{
	font-size: 25px;
	color: #000000;
	margin-bottom: 40px;
}
.part_6 .right span{
	color: #FF4747;
}
.part_6 .right .p2{
	text-align: left;
	line-height: 25px;
	width: 330px;
	margin-bottom: 40px;
	color: #A5A5A5;
}
.part_6 .right .btn{
	padding: 10px 30px;
	font-size: 15px;
	letter-spacing: 3px;
	border: 1px solid #E50000;
	color: #E50000;
	background-color: #FFFFFF;
}
.part_6 .right .btn:hover{
	color: #FFFFFF;
	background-color: #E50000;
}
.part_6 .right .rd{
	padding-top: 40px;
}
.part_7{
	height: 520px;
}
.part_7 .left{
	width: 33.3%;
	height: 520px;
	background-color: #FF4B4B;
	float: left;
	position: relative;
}
.part_7 .right{
	width: 33.3%;
	height: 520px;
	background: url(img/sevenPart-pic.jpg) no-repeat;
	float: right;
	position: relative;
}
.part_7 .right .t-triangle{
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 30px solid #FFFFFF;
	position: absolute;
	left: 0;
	top:50%;
	margin-top: -18px;
}

.part_7 .middle{
	width: 33.3%;
	height: 520px;
	background-color: #FFFFFF;
	float: left;
	position: relative;
}
.part_7 .left-title{
	text-align: center;
	position: absolute;
	width: 200px;
	height: 90px;
	top: 50%;
	left: 50%;
	margin: -45px 0 0 -100px;

}
.part_7 .left-title .p1{
	font-size: 20px;
	line-height: 30px;
}
.part_7 .left-title .btn{
	margin-top: 60px;
	padding: 10px 30px;
	font-size: 15px;
	letter-spacing: 3px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #FF4B4B;
}
.part_7 .left-title .btn:hover{
	border: 1px solid #FF4B4B;
	color: #FF4B4B;
	background-color: #FFFFFF;
}
.part_7 .middle-title{
	text-align: center;
	position: absolute;
	width: 200px;
	height: 90px;
	top: 50%;
	left: 50%;
	margin: -45px 0 0 -100px;

}
.part_7 .middle-title .p1{
	font-size: 20px;
	line-height: 30px;
	color: #FF4B4B;
}
.part_7 .middle-title .btn{
	margin-top: 60px;
	padding: 10px 30px;
	font-size: 15px;
	letter-spacing: 3px;
	border: 1px solid #FF4B4B;
	color: #FF4B4B;
	background-color: #FFFFFF;
}
.part_7 .middle-title .btn:hover{
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #FF4B4B;
}
.part_8{
	height: 760px;
	position: relative;
}
.part_8 .form{
	width: 1100px;
	height: 482px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -241px 0 0 -550px;
}
.part_8 .top{
	width: 424px;
	height: 85px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 74px;
}
.part_8 .top .p1{
	font-size: 20px;
	color: #000000;
	margin-bottom: 30px;
	font-weight: bold;
}
.part_8 .top .p2{
	font-size: 10px;
	color: #898989;
}
.part_8 .left{
	width: 340px;
	height: 320px;
	float: left;
}
.part_8 .right{
	width: 700px;
	height: 320px;
	float: right;
}
.part_8 .left .p1{
	font-size: 18px;
	text-align: left;
	color: #585656;
	font-weight: bold;
	margin-bottom: 25px;
}
.part_8 .left .p2{
	font-size: 13px;
	text-align: left;
	color: #898989;
}
.part_8 .left .p3{
	font-size: 13px;
	text-align: right;
	color: #898989;
	margin-bottom: 35px;
}
.part_8 .left .p1-2{
	font-size: 18px;
	text-align: left;
	color: #585656;
	font-weight: bold;
	margin-bottom: 25px;
}
.part_8 .right input{
	width: 335px;
	height: 50px;
	background-color:#EBEBEB;
	color: #AFAFAF;
	border: 0px;
	margin: 0px 12px 10px 0px;
}
.part_8 .right #age{
	position: absolute;
	right: -10px;
}
.part_8 .right #address{
	position: absolute;
	right: -10px;
}
.part_8 .right textarea{
	width: 697px;
	height: 130px;
	border: 0px;
	background-color: #EBEBEB;
	color: #AFAFAF;
	margin-bottom: 10px;

}
.part_8 .right #submit{
	width: 697px;
	color: #000000;
}
.part_9{
	height: 395px;
	background-color: #32353e;
	position: relative;
}
.part_9 .box{
	width: 590px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -295px;
	text-align: center;
}
.part_9 .p1{
	font-size: 25px;
	letter-spacing: 5px;
}
.part_9 .p2{
	font-size: 15px;
	margin-bottom: 40px;
}
.part_9 #email{
	width: 420px;
	height: 45px;
	border: 0px;
	font-size: 20px;
	margin-bottom: 50px;
}
.part_9 #submit{
	width: 102px;
	height: 45px;
	color: #FFFFFF;
	border: 0px;
	background-color: #797979;
	font-size: 20px;
	margin-left: -1px;
}
.part_9 img{
	margin-left: 30px;
}
.part_10{
	height: 50px;
	background-color: #303039;
	position: relative;
}
.part_10 .left{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	margin-left: 120px;

}
