*{
	margin: 0px;
	padding: 0px;
	font-family: 微软雅黑;
}
body{
	min-width: 1280px;
}
header{
	padding: 10px 60px 20px 60px;
	height: 25px;
	background-color: #FFFFFF;
}
.logo{
	float: left;
	font-size: 25px;
}
.logo img{
	vertical-align: middle;
}
.login{
	float: right;
}
.login img{
	vertical-align: middle;
}
.login a{
	text-decoration: none;
	color: #e74f4d;
}

nav ul li{
	list-style-type: none;
	float: right;
	width: 100px;
	text-align: center;
}
nav ul li a{
	color: #787b83;
	text-decoration: none;
	display: block;
	height: 40px;
}
nav ul li a:hover{
	color: #e74f4d;
	border-bottom: 5px solid #e74f4d;
	font-weight: bold;
}
.part_1{
	height: 690px;
	background: url(img/firstPart.jpg) no-repeat;
	background-size: cover;
}
.part_1 h1,p{
	color: #FFFFFF;
}
.part_1 h1{
	font-size: 60px;
	font-weight: 100;
	position: absolute;
	top: 300px;
	left: 115px;
}
.part_1 p{
	font-size: 25px;
	position: absolute;
	top: 400px;
	left: 120px;
}
.part_1 .btn{
	width: 290px;
	height: 70px;
	background-color: #F76868;
	color: #FFFFFF;
	border: none;
	font-size: 35px;
	position: absolute;
	top: 530px;
	left: 120px;
}
.part_1 .btn:hover{
	background-color: #FFFFFF;
	color: #F76868;
	border: none;
}
.part_2{
	height: 250px;
}
.icon{
	width: 330px;
	height: 125px;
	display: inline-block;
	text-align: center;
	line-height: 125px;

}
.icon img{
	vertical-align: middle;
}
.icon_text{
	width: 328px;
	height: 60px;
	display: inline-block;
	text-align: center;
	border-right: 2px #808080 solid;
}
.icon_text p{
	color: #808080;
	cursor: pointer;
	transition: all .4s ease-in;
	-webkit-transition: all .2s ease-in;

}
.icon_text p:hover{
	color: #e74f4d;
}
.part_3{
	height:365px;
	background-color:#ededec;
	position: relative;
}
.part_3 .box{
	position: absolute;
	top: 60px;
	left: 215px;
}
.part_3 .box img{
	margin: 20px;
	padding-left: 400px;
}
.part_3 .box p{
	font-size: 60px;
	color: #a1a1a1;
	letter-spacing: 5px;
}
.part_4{
	height: 345px;
	background: url(img/bgimage-1.jpg) no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}
.part_4 .box1 .p1{
	position: relative;
	top: 55px;
	font-size: 23px;
}
.part_4 .box1 div{
	position: absolute;
	width: 33px;
	height: 3px;
	top: 95px;
	background-color:#FFFFFF;
	left: 650px;
}
.part_4 .box1 .p2{
	position: relative;
	top: 86px;
	font-size: 12px;
}
.part_4 select{
	width: 235px;
	height: 40px;
	color: #b5b7b7;
	margin-top: 140px;
	margin-left: 40px;
}
.part_4 input{
	width: 235px;
	height: 40px;
	margin-left: 40px;
	background-color: #be4e48;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 20px;
	border: none;
}
.part_4 input:hover{
	background-color:#FFFFFF;
	color:#be4e48;
}
.part_5{
	height: 550px;
	background-color:#F6F6F6;
	position: relative;
}
.part_5 .main_box{
	height: 400px;
	width: 988px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -494px;
}
.part_5 .main_box .box{
	margin-right: 25px;
	display: inline-block;
}
.part_5 .main_box .box .p1{
	color: #000000;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.part_5 .main_box .box .p2{
	color: #A7A7A7;
	font-size: 10px;
	text-align: center;
}
.part_5 .main_box .box .p3{
	color: #000000;
	font-size: 20px;
	letter-spacing: 30px;
	font-weight: bold;
	margin-left: 10px;
}
.part_5 .main_box .box img{
	border: 1px solid #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px 5px;
}